@import '../../../../../constants/constants.scss';
.title {
    font-size: $fontSizeTitle;
    text-align: center;
    max-width: 35rem;
    margin: $titleMargin;
}
.lite_text {
    font-weight: 400;
}