@import '../../../../../constants/constants.scss';

.container {
    max-width: $widthContainer;
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 0 1rem;

    @media (max-width:$widthScreenBurger) {
            gap: .5rem;
        }
}

.title {
    font-size: 3rem;
    text-align: center;
    max-width: 50rem;
    margin: 6rem auto;
}

.img {
    width: 500px;
    height: 600px;
    object-fit: cover;

    @media (max-width: 1050px) {
        max-width: 300px;
        height: 400px;
    }

    @media (max-width:$widthScreenBurger) {
        height: 300px;
        width: 50%;
        min-width: 230px;
    }
}

.lite_text {
    font-weight: 400;
}

.wrapper_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @media (max-width: 1050px) {
        align-content: center;
    }
        @media (max-width:$widthScreenBurger) {
            gap: .5rem;
            }
    
}