@import '../../../../../constants/constants.scss';

.wrapper {
    width: 300px;
    height: 200px;
    // background-image: url(../../../../../../public/img/typesWorks/warming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0 0 0;
}

.container {
    background-color: rgb(182 172 172 / 50%);
    font-size: $fontSizeServices;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5rem;
    height: 70%;
    padding: 1rem 1rem 0;
}
.title {
    margin: 0;
    font-size: $fontSizeServices;
}

.button {
    padding: 1rem 1rem;
    background: $colorButton;
    border: none;
    max-width: 10rem;
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
}