@import '../../../constants/constants.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(246, 247, 247, 0.74);
    padding: 2rem;


}

.title {
    text-align: center;
}

.text {
    white-space: pre-wrap;
    text-align: left;
    text-indent: 10px;
}