@import '../../../../../constants/constants.scss';

.wrapper {
    // height: 140px;
    // background-color: #000000;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 12rem;
}

.number {
    font-size: 40px;
    background: $colorButton;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width:$widthScreenBurger) {
        font-size: 20px;
    }
}

.text {
    color: $colorHeader;

    @media (max-width:$widthScreenBurger) {
            font-size: 10px;
        }
}

.container {}