@import '../../../../../constants/constants.scss';

.title {
    font-size: $fontSizeTitle;
    text-align: center;
    max-width: 50rem;
    margin: $titleMargin;

    @media (max-width:$widthScreenBurger) {
        font-size: $fontSizeTitleBurger;
    }
}

.lite_text {
    font-weight: 400;
}