@import '../../../../../constants/constants.scss';
.title {
    font-size: $fontSizeTitle;
    text-align: center;
    max-width: 34rem;
    margin: $titleMargin;
}

.lite_text {
    font-weight: 400;
}