@import '../../../../constants/constants.scss';

.wrapper {
    background: $backgroundGold;
    padding: 0 0 5rem 0;

}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // height: 800px;

}

// .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.img {
    max-width: 600px;
    height: 400px;
    object-fit: 'contain';
    margin: 0 auto;

    @media (max-width:$widthScreenBurger) {
        height: 300px;

    }
}




.carousel_item {}