.wrapper {
    background: linear-gradient(rgb(255, 220, 131, 5%), rgba(232, 168, 5, 0.5));
    padding: 0 0 5rem 0;

}
.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // height: 800px;

}

// .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.img {
    max-width: 1100px;
    height: 800px;
    object-fit: 'contain';
    margin: 0 auto;
}




.carousel_item {}