@import '../../../../constants/constants.scss';

.wrapper_navigate {
    position: absolute;
    margin: .5rem 0;
    padding: .5rem 0rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
}

.navigate {
    margin: 0 auto;
    max-width: $widthContainer;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: $colorHeader;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $fontSizeHeader;
    font-weight: 600;

    &:hover {
        color: $colorHover
    }
}